<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        {{if .Errors.GeneralError}}
        <div class="general-error">
            {{.Errors.GeneralError}}
        </div>
        {{end}}
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="{{.UserName}}" {{if .Errors.UsernameError}}class="error"{{end}}>
                {{if .Errors.UsernameError}}
                <div class="error-message">{{.Errors.UsernameError}}</div>
                {{end}}
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{.Email}}" {{if .Errors.EmailError}}class="error"{{end}}>
                {{if .Errors.EmailError}}
                <div class="error-message">{{.Errors.EmailError}}</div>
                {{end}}
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" {{if .Errors.PasswordError}}class="error"{{end}}>
                {{if .Errors.PasswordError}}
                <div class="error-message">{{.Errors.PasswordError}}</div>
                {{end}}
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password" {{if .Errors.PasswordError}}class="error"{{end}}>
            </div>

            <div class="show-password-group">
                <input type="checkbox" id="show-password">
                <label for="show-password">Show password</label>
            </div>

            <button type="submit">Sign Up</button>
        </form>
        <div class="sign-link">
            <a href="/signin">Already have an account? Sign in</a>
        </div>
    </div>
    <script src="../static/script.js"></script>
    <script>
        document.getElementById('show-password').addEventListener('change', function() {
            var passwordField = document.getElementById('password');
            var confirmPasswordField = document.getElementById('confirm-password');
            if (this.checked) {
                passwordField.type = 'text';
                confirmPasswordField.type = 'text';
            } else {
                passwordField.type = 'password';
                confirmPasswordField.type = 'password';
            }
        });
    </script>
</body>
</html>